[Unit]
Description=Darwin Commons sync every 15 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Unit=commons-sync.service

[Install]
WantedBy=timers.target
